*,
*:before,
:after {
  box-sizing: border-box;
}

body {
  font-family: arial;
  padding:0;
  margin: 0;
}

nav {
  position: fixed;
  height: 100px;
  width: 100%;
  background-color: white;
  top: 0;
}

nav > ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 0.5em;
}

nav > ul > li {
  list-style: none;
  padding: 0 5px;
  font-size: 20px;
}

nav > ul > li > a {
  text-decoration: none;
  color: black;
}

#welcome-section {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  background-color: #e5e2da;
  font-size: 25px;
  font-family: arial;
  margin-top: 100px;
}

h2 {
  text-align: center;
  font-size: 25px;
  font-family: arial;
}

h1 {
  margin: 200px 1em;
  font-size: 25px;
  font-family: arial;
  text-align: center;
}

.page-section {
  padding: 1em 0;
}

@media (min-width: 400px) {
  #projects {
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
  }
}

.figcaption {
  padding: 10px;
  text-style: none;
}

.figcaption a {
  font-size: 15px;
  margin: 0;
  font-family: arial;
  text-decoration: none;
  color: black;
}

a:hover h3 {
  background-color: #e5e2da;
}

[class^="image-"] {
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 200px;
}

.image-1 {
  background-image: url("https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/lake-george-reflection-georgia-okeeffe.jpg");
}

.image-2 {
  background-image: url("https://www.metmuseum.org/-/media/images/art/collection-landing-page/collection-highlights/van-gogh-wheat-field.jpg?la=en&h=424&w=672&hash=07AF4F2FA20B5AC52586EE956164E850");
}

.image-3 {
  background-image: url("https://www.thoughtco.com/thmb/aKXJo28w03AHgWwuoO-FKi8b14I=/2576x2576/smart/filters:no_upscale()/abstract-paper-flower-pattern-656688606-5acfba2eae9ab80038461ca0.jpg");
}

.image-4 {
  background-image: url("https://artsy-media-uploads.s3.amazonaws.com/KAJje0Dm4yasP6qdR9426w%2Fcustom-Custom_Size___katsushika-hokusai-the-great-wave-off-kanagawa-kanagawa-oki-nami-ura-from-the-series-thirty-six-views-of-mount-fuji-fugaku-sanjurokkei-1830-1833+2.jpg");
}

.image-5 {
  background-image: url("https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/ginger-cat-at-the-beach-mosaic-art-peggy-collins.jpg");
}

.image-6 {
  background-image: url("https://d3rf6j5nx5r04a.cloudfront.net/83Hrxhn5fVBi33pFLBXeUp9PaVA=/3840x2304/homepage_banner/d/6/0b9511d446184068b33fc7509c5fa55a.jpg");
}

@media (min-width: 300px) {
  .image {
  }
}

header {
  font-size: 30px;
}

.project-tile {
  width: 100%;
  border: solid;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#main-section {
  background-color: #c7c2e8;
  width: 100%;
  padding: 2em 0.5em;
}

#contact {
  background-color: #e5e2da;
  text-align: center;
}

#contact ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
}

#contact ul li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 600;
  list-style: none;
}

#contact ul li a i {
  margin-right: 0.25em;
}

#contact ul li {
  padding: 0 1em;
}